.footer {
  width: 100%;
  height: 243px;
  background-image: url("../assets/footer_bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
}

.footer .ftr_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 25px;
  padding-left: 100px;
}

.footer .ftr_content img {
  width: 150px;
  height: 72px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .footer {
    height: 200px;
  }

  .footer .ftr_content {
    padding-left: 20px;
    font-size: 16px;
  }

  .footer .ftr_content img {
    width: 100px;
    height: 48px;
  }
}
