.home_banner {
  width: 100%;
  height: 438px;
  background: url("../assets/home_banner.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: start;
}

.home_banner h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 60px 0 0 50px;
}

.recipe_data {
  width: 100%;
  height: auto;
}

.recipes_data .lazy_loading_text {
  width: 100%;
  font-size: 25px;
  color: #000;
  text-align: center;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .home_banner h1 {
    font-size: 40px;
    margin: 60px 0 0 30px;
  }
}
