.main_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  background-color: black;
  justify-content: space-between;
  padding: 8px 20px;
}
.unordered_list {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.unordered_list li {
  margin: 0 18px;
  padding: 7px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.unordered_list li:hover {
  color: #509e2f;
  text-decoration: underline;
}
.auth_items {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.auth_items .icon {
  margin: 0 8px;
  color: #509e2f;
  font-size: 14px;
}

.sub_header {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 10px 20px;
  background-color: #fff;
}

.sub_header .search_input {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_header .results_text {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

/* Mobile Devices: Responsiveness */
@media (max-width: 600px) {
  .navbar {
    padding: 10px auto;
    justify-content: center;
  }

  .navbar > ul {
    display: none;
  }
  .unordered_list {
    flex-direction: column;
    align-items: center;
  }
  .unordered_list li {
    margin: 0;
    padding: 10px;
  }
  .auth_items {
    flex-direction: column;
    align-items: center;
  }
  .auth_items .icon {
    margin: 0;
  }
  .navbar .auth_links .unordered_list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .sub_header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5px 8px;
  }
  .sub_header .logo_img img {
    width: 100px;
    margin: 8px 0px;
  }
  .sub_header .search_input {
    width: 100%;
  }
  .main_header .results_text {
    font-size: 10px;
  }
}
