.recipe_data_list {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.navigation_items {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  color: #84bd00;
  margin: 20px 0px;
}
.navigation_items .line {
  width: 100%;
  border: 1px solid #d0c5c580;
}

.navigation_items ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}

.recipes_collection {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto 40px auto;
}

.recipes_collection .recipe_card {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  margin: 30px 0px;
}

.recipes_collection .recipe_card .top img {
  width: 306px;
  height: 206px;
  transition: 0.3s all ease-in-out;
}

.recipes_collection .recipe_card:hover .top img {
  transform: scale(1.1);
  cursor: pointer;
  overflow: hidden;
}
.recipes_collection .recipe_card .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.recipes_collection .recipe_card .bottom .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.recipes_collection .recipe_card .bottom .box_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.recipes_collection .recipe_card .bottom .box_one h2 {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  max-width: 60%;
}
.recipes_collection .recipe_card .bottom .box_one p {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  background-color: #84bd00;
  padding: 8px 5px;
}

.recipes_collection .recipe_card .bottom .box_two span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recipes_collection .recipe_card .bottom .box_two span p {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  margin: 0px 5px;
}

.recipes_collection .recipe_card .bottom .box_two p {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.recipes_collection .recipe_card .bottom .box_three {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 5px;
}

/* Mobile Devices Responsiveness */
@media (max-width: 600px) {
  .navigation_items {
    width: 100%;
    margin: 20px 0px;
  }
  .navigation_items .list_items {
    font-size: 16px;
  }
  .recipes_collection {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 8px 0;
  }
  .recipes_collection .recipe_card {
    width: 100%;
    height: 35%;
    flex-direction: column;
    text-decoration: none;
    justify-content: start;
    color: #333;
    margin: 15px 0px;
  }
  .recipes_collection .recipe_card .top img {
    width: 100%;
    height: 206px;
    transition: 0.3s all ease-in-out;
  }
  .recipes_collection .recipe_card .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }
}
