.navigation_items_box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: #84bd00;
  margin: 40px auto;
}

.navigation_items_box .line {
  width: 100%;
  border: 1px solid #d0c5c580;
}

.navigation_items_box ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}

.bottom {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 30 auto;
}
.bottom .left {
  height: 550px;
  width: 560px;
  background-color: #8b888836;
  border: none;
  border-radius: 15px;
  padding: 20px;
  overflow-y: scroll;
}
.bottom .left .header_box h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.bottom .left .header_box p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.bottom .left .content_box h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px;
}
.bottom .left .content_box .list_items {
  margin-top: 15px;
}
.bottom .left .content_box .list_items .single_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.bottom .left .content_box .list_items p {
  font-size: 16px;
  color: #a2a8ba;
  font-weight: 400;
  padding-left: 15px;
}

.bottom .right {
  width: 549px;
  height: 549px;
  border: none;
  padding: 20px;
}
.bottom .right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .navigation_items_box {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
    color: #84bd00;
    margin: 40px auto;
  }
  .bottom {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px;
  }
  .bottom .right {
    width: 349px;
    height: 349px;
    border: none;
    padding: 10px;
  }
  .bottom .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bottom .left {
    height: 100%;
    width: 350px;
    background-color: #8b888836;
    border: none;
    border-radius: 15px;
    padding: 10px;
  }
}
