.form {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  border: 1px solid #d0c5c5;
  border-radius: 50px;
  outline: none;
}

.input_field {
  width: 726px;
  height: 40px;
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  transition: 0.2s;
}

.input_field:focus {
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
}

.input_button {
  position: absolute;
  right: 0px;
  border: none;
  width: 42px;
  height: 40px;
  background-color: #d0c5c5;
  color: black;
  outline: none;
  border-radius: 50px;
  transition: 0.2s all;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.select_button {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #d0c5c5;
  color: black;
  outline: none;
  border-radius: 50px;
  transition: 0.2s all;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  -webkit-appearance: none;
}
.select_button:hover {
  background-color: #84bd00;
  cursor: pointer;
}
.select_button:hover option {
  background-color: #d0c5c5;
  cursor: pointer;
}

.input_button:hover {
  background-color: #84bd00;
  cursor: pointer;
}
.input_button:active {
  transform: scale(0.8);
  box-shadow: inset 0 0 5px black;
}

/* Mobile Devices: Responsiveness */
@media (max-width: 600px) {
  .form {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    border: 1px solid #d0c5c5;
    border-radius: 50px;
    outline: none;
  }

  .input_field {
    width: 100%;
    height: 40px;
    padding: 15px 30px;
    border: none;
    font-size: 15px;
    transition: 0.2s;
  }

  .input_field:focus {
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
  }

  .input_button {
    position: absolute;
    right: 0px;
    border: none;
    width: 42px;
    height: 40px;
    background-color: #d0c5c5;
    color: black;
    outline: none;
    border-radius: 50px;
    transition: 0.2s all;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
  .select_button {
    border: none;
    width: 200px;
    height: 40px;
    background-color: #d0c5c5;
    color: black;
    outline: none;
    border-radius: 50px;
    transition: 0.2s all;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    -webkit-appearance: none;
  }
  .select_button:hover {
    background-color: #84bd00;
    cursor: pointer;
  }
  .select_button:hover option {
    background-color: #d0c5c5;
    cursor: pointer;
  }

  .input_button:hover {
    background-color: #84bd00;
    cursor: pointer;
  }
  .input_button:active {
    transform: scale(0.8);
    box-shadow: inset 0 0 5px black;
  }
}
